

body{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

/* .container{
margin: 0px 30px;
} */

.nav1{
    display: flex;
    justify-content: space-around;
    background-color: #0aaaa0;
    color: white;
}

.nav1_left {
    margin:4px 0px;
}
.nav1_left a{
    margin:0px 8px;
    text-decoration: none;
    color: white;
}
.nav1_right{
    margin:4px 0px;
}
.nav1_right a{
    margin:0px 6px;
    text-decoration: none;
    color: white; 
}
.nav2{
    display: flex;
    justify-content: space-around;
    margin-bottom: -30px;
}

.nav2_left {
    margin:4px 0px;
}
.nav2_left img{
  width: 100px;
}
.nav2_right{
    margin:16px 0px;
}
.nav2_right a{
    margin:0px 10px;
    font-weight: 550;
    color: black;
    text-decoration: none;
}

.nav2_rightMost{
    margin:20px 0px;
}

.nav2_rightMost a{
    padding: 3px 6px;
    font-weight: 500;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.part2{
  height: 350px;
  background-image: url('https://htmldemo.hasthemes.com/grant-foundation/grant-foundation/img/slider/slide-one.jpg'); 
  }

.part2 h1{
    margin-bottom: -15px;
    font-size: 40px;
    padding: 120px 0px 0px 160px;
    color: #fff;
}

.part2 p{
    padding: 0px 25vw 0px 160px;
    color: #fff;
    font-size: 12px;
}

.part2 .buton{
    display: flex;

}
.part2 .buton1{
    margin: 0px 0px 0px 160px;
    padding: 10px 12px;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}
.part2 .buton2{
    margin: 0px 0px 0px 30px;
    padding: 10px 12px;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}

.part2 .buton1:hover , .buton2:hover{
    background-color: #17a2b8;
}
nav{
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: flex;
    justify-content: space-around;
    display: inline-block;
    text-align: right;
    display: inline-flex;
    justify-content: space-around;
}
nav ul li a {
color: black;
text-decoration: none;
 font-weight: bold;
margin: 0px 20px;

}
nav ul li a:hover{
 color: rgb(0, 255, 89);
}
.column {
  float: left;
  width: 20%;
  margin-left: 45px;
  padding: 10px;  
}
.column img{
  height: 300px;
  width: 150px;
}
section .contents{
    display: inline-flex;
    justify-content: space;

    }
    
    section .contents{
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      color: #fff;
      background: rgba(0,0,0,.5);
      float: left;
   
      margin-right: 15px;
      text-align: center;
    }
    .contents p{
      color: rgba(31, 34, 36, 0.858);
      padding-left: 200px;
      text-align: center;
      margin-top: 120px;
      margin-left: 150px;
    }
    .contents h2{
      padding-left: 10px;
      padding-bottom: 100px;
      margin-top: 120px;
      margin-left: 10px;
    }
    
     
    .label{
      width: 30px;
      height: 30px;
    margin-top: 140px;
    margin-left: 60px;
    }
    
    
       